::selection {
  background: #f33446;
  color: #ffffff;
}
::-moz-selection {
  background: #f33446;
  color: #ffffff;
}

html, body { 
	height: 100%;
}

section { 
	padding: 5em 0 5em;
}

.container {
	padding-left: 140px;
	padding-right: 140px;
}

a, a:hover {
	text-decoration: none;
}
a {
	border-bottom: 1px dashed grey;
	color: grey;
}
a:hover {
	color: #f33446;
	border-color: #f33446;
}

/* intro */
#intro { 
	width: 100%; 
	height: 100%;
	text-align: center; 
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #212121;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.brand {
	position: absolute; 
	height: 110px;
	margin: auto; 
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0; 
	z-index: 999;
	color: #ffffff;
}
.brand span {
	font-size: 3em;
	color: #f3;
}

.intro-scroll {
	cursor: pointer;
	height:50px;
	color: #ffffff;
	margin: auto;
	position: absolute;
	bottom: 0px; 
	left: 0; 
	right: 0;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-ms-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
}
.intro-scroll:hover {
	color: #f33446;
	-webkit-transition: color 0s;
	-moz-transition: color 0s;
	-ms-transition: color 0s;
	-o-transition: color 0s;
	transition: color 0s;

}
.intro-scroll span {
	position: absolute;
	bottom: 36px; 
	left: 0; 
	right: 0;
}
.intro-scroll i {
	-webkit-animation: bounce 0.75s linear 5.5s infinite;
	-moz-animation: bounce 0.75s linear 5.5s infinite;
	animation: bounce 0.75s linear 5.5s infinite;
	position: absolute;
	right: 0;
	left: 0; 
	bottom: 8px; 
 }
 @keyframes bounce {
	0%   {padding: 0em;}
	50%  {padding: 0.8em;}
}

#typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.8s infinite;
	-moz-animation: blink 0.8s infinite;
	-ms-transition: blink 0.8s infinite;
	-o-transition: blink 0.8s infinite;
	animation: blink 0.8s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

/* profile */
#profile {
	text-align: center;
}
#profile-pic {
	width: 12.5em;
}
#about-me {

}

/* education */
#uni, #college, #school {
	padding: 20px 0;
}
#education .nav.nav-pills li {
	width:33%;
}
#education .nav.nav-pills li a{
	border-bottom: none;
	text-align: center;
}
#education .nav.nav-pills li.active a {
	background-color: #f33446;
}

/*.module {
	height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}*/
.module-title {
	white-space: ellipsis; 
	width: 88%; 
	overflow: hidden;
	text-overflow: clip;
}
.module-mark {
	float: right !important;
}

#education .tab-content ul {
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
	background: white;
}
#education .tab-content  li {
	line-height: 40px;
	border-bottom: 1px solid #e9ecef;
}
#education .tab-content li ul {
	padding: 0;
}

.show-more {
	position: relative;
	height: auto;
}

#education [type="checkbox"] {
	position: absolute;
	left: -9999px; 
}

#education label {
	background: #e4e3df;
	display: block;
	width: 100%;
	height: 40px;
	cursor: pointer;
	position: absolute;
	top: 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
#education label:before, #education label:after {
	position: absolute;
}
#education label:before {
	content: "More";
	left: 10px;
}
#education label:after {
	font-family: FontAwesome;
	content: "\f078";
	right: 10px;
}

#education [type="checkbox"] ~ ul {
	display: none;
}
#education [type="checkbox"]:checked ~ ul {
	display: block;
}
#education [type="checkbox"]:checked + label {
	top: 100%;
}
#education [type="checkbox"]:checked + label:before {
	content: "Less";
}
#education [type="checkbox"]:checked + label:after {
	content: "\f077";
}


/* footer */
#footer {
	background: whitesmoke;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 50px;
}
#footer .container {
	padding-left: 40px;
	padding-right: 40px;
}
#footer span {
	padding-right: 2.5em;
	padding-left: 2.5em;
	display: inline-block;
	width: 10em;
}
#footer span a {
	color: lightgray; 
	text-decoration: none;
	border-bottom: none;
}
#footer span a i { 
	font-size: 3em;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-ms-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
}
#footer span a p {
	visibility: hidden;
	margin-top: 10px; 
	color: inherit;
	opacity:0;
	-webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear, color 0.5s ease-out;
	-moz-transition: visibility 0s linear 0.5s, opacity 0.5s linear, color 0.5s ease-out;
	-ms-transition: visibility 0s linear 0.5s, opacity 0.5s linear, color 0.5s ease-out;
	-o-transition: visibility 0s linear 0.5s, opacity 0.5s linear, color 0.5s ease-out;
	transition: visibility 0s linear 0.5s, opacity 0.5s linear, color 0.5s ease-out;
}
#footer .linkedin:hover a {
	color: #0077B5;
}
#footer .linkedin:hover a > p { 
	visibility: visible;
	opacity:1;
	transition-delay:0s;
}
#footer .github:hover a {
	color: #000000;
}
#footer .github:hover a > p { 
	visibility: visible;
	opacity:1;
	transition-delay:0s;
}
#footer .facebook:hover a {
	color: #3b5998;
}
#footer .facebook:hover a > p { 
	visibility: visible;
	opacity:1;
	transition-delay:0s;
}
#footer .instagram:hover a { 
	color: black;
}
#footer .instagram:hover a > p { 
	visibility: visible;
	opacity:1;
	transition-delay:0s;
}
#footer .youtube:hover a { 
	color: #cd201f;
}
#footer .youtube:hover a > p { 
	visibility: visible;
	opacity:1;
	transition-delay:0s;
}
#footer .email:hover a { 
	color: #f33446;
}
#footer .email:hover a > p { 
	visibility: visible;
	opacity:1;
	transition-delay:0s;
}
#logos {
	padding-top: 2em;
}

@media (max-width: 767px){

	.container {
		padding-right: 40px;
		padding-left: 40px;
	}

/*	#education {
		text-align: center;
	}*/

}
